body{
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}
.nav-brand .img{
    height: 50px;
}
.active{
 color:#720B87;
}

.navbar-dark {
  background: #172258;
}

/* Tombol */
 /* .tombol {
 background-color: #071C4D;
  color: #fff;
  text-align: center;

} */

.tombol:hover {
/* //     background-color: #1E3771; */
    color: #fff;
 }

/* jumbotron */
.jumbotron{
    background-image: url('../../data/images/header2.jpg');
    background-size: cover;
    height: 540px;    
    text-align: center;
    position: relative;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    color: #fff;
    margin-top: 80px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 30px;
    margin-bottom: -20px;
}

.btn-judul{
    background-color: #071C4D;
    color: #fff;

}
.btn-judul:hover{
    background-color: #1E3771;
    color: #fff;
    }
/* akhir jumbotron */


/* /// ********STATISTIC********/

.form-inline .btn-search{
    background-color: #071C4D;
    color: #fff;
    width: 100px;
}





.section-stats {
  margin-top: -80px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: rgba(229, 226, 226, 0.972);
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: normal;
}

.section-produk {
  min-height: 540px;
  background-color: #051334;
  margin-top: -100px;
  margin-bottom: -230px;
}

.section-produk .section-produk-heading {
  margin-top: 150px;
}

.section-produk .section-produk-heading h2, .section-produk .section-produk-heading p {
  color: #fff;
}

.section-produk .section-produk-heading h2 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
  font-size: 40px;
}

.section-produk .section-produk-heading p {
  font-size: 12px;
}


/* Conteeent */
.card {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}
.fas {
  margin-left: -130px;
}

h6 {
  margin-top: -33px;
  margin-left: 100px;
}
.inner {
	overflow: hidden;
}
.inner img {
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.5);
}

.embed-responsive-item img {
  width: 50px;
  height: 50px;
}

.btn-go {
  background-color: #071C4D;
  color: white;
  margin-top: 20px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-go:hover {
  background-color: #1E3771;
  color: #fff;

}


/* footer */
#contact {
    background: #051334;
    padding: 50px 0px 50px 0px;
    border-radius: 2px;
    box-shadow: 0 3px 5px;
    margin-bottom: 10px;
    margin-top:  230px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 100%;
    margin: auto;
    margin-left: 20px;

}

.footer-section h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    line-height: 50px;
}
.footer-section p{
  color: #fff;
}




/* Desktop Version */
@media (min-width: 992px) {
  .navbar-dark {
    background: none;
  }
 .nav-link,  .nav-brand {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(20, 25, 26, 0.7);
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid blue;
        width: 50%;
        margin:auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .btn-judul{
    background-color: #071C4D;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    }
    .btn-judul:hover{
    background-color: #1E3771;
    color: #fff;
    }

    

    .tombol{
      text-transform: uppercase;
      border: none;
      text-align: center;
    }
    .jumbotron{
        margin-top: -80px;
        height: 640px;
    }
    .jumbotron .display-4{
        font-size: 50px;
    }

    .footer-section {
      width: 20%;
      margin: 0 auto;

    }










  }